@import url("/fonts.css");
@import "tailwindcss";

@theme {
  --color-primaryColor: #1d001a;
  --color-secondaryColor: #9d184e;
  --color-tertiaryColor: #ff2b76;
  --color-yellowColor: #f6c500;
  --color-greenColor: #489373;
  --color-redColor: #c10a11;
  --color-blueColor: #006fff;
  --color-blackColor: #141212;
  --color-primaryTextColor: #fff;
  --color-secondaryTextColor: #a8a4a4;

  --font-comica: "Comica_BD";
  --font-backso: "backso";
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "backso", sans-serif;
}

/* Scrollbar Style for WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2b002f; /* Dark background reflects purple color */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ea88c6, #bf0d74);
  border-radius: 6px;
}

/* When hovering, yellow appears with purple */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #f6c500, #bf0d74);
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #ea88c6 #2b002f;
}

/* Masonry CSS */
.masonry-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.masonry-grid {
  justify-content: center;
}
