@font-face {
  font-family: "backso";
  src:
    url("Backso.woff2") format("woff2"),
    url("Backso.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comica_BD";
  src:
    url("ComicaBD.woff2") format("woff2"),
    url("ComicaBD.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comica_BD";
  src:
    url("ComicaBD-Bold.woff2") format("woff2"),
    url("ComicaBD-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
